#toggleCarrito {
border: none;
background-color: rgb(236, 132, 36);

}

.hero {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url("background-hero.jpeg");
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  height: 580px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-titulo {
  color: rgb(43, 21, 1);
  font-size: 40px;
  font-weight: 700;
  margin: 10px;
}
.hero-parrafo {
  color: black;
  font-size: 26px;
  margin: 20px;
  margin-bottom: 80px;
}
.hero-ancla {
    text-decoration:none;
    font-size: 22px;
    color: white;
    background-color: rgba(236, 132, 36, 0.8);
    padding: 30px;
    border-radius: 16px;
}

.hero-ancla:hover {
    background-color: white;
    color: rgb(236, 132, 36);
    transition: 0.3s ease-in-out;
}

.boton-compra {
  font-size: 16px !important;
    color: white !important;
    background-color: rgb(236, 96, 36) !important;
    padding: 10px !important;
    border-radius: 10px !important;
}
.boton-compra:hover {
  background-color: white !important;
    color: rgb(236, 96, 36) !important;
    transition: 0.3s ease-in-out !important;
    border-color: rgb(236, 96, 36) !important;
}

.btn-vermas{
  font-size: 16px !important;
    color: white !important;
    background-color: rgb(54, 69, 79)  !important;
    padding: 10px !important;
    border-radius: 10px !important;
}
.btn-vermas:hover{
  background-color: white !important;
  color: rgb(54, 69, 79) !important;
  transition: 0.3s ease-in-out !important;
  border-color: rgb(54, 69, 79) !important;
}
.btn-vaciar {
  font-size: 16px !important;
    color: white !important;
    background-color: rgb(34, 139, 78)  !important;
    padding: 10px !important;
    border-radius: 10px !important;
}
.btn-vaciar:hover{
  background-color: white !important;
  color: rgb(34, 139, 78)  !important;
  transition: 0.3s ease-in-out !important;
  border-color: rgb(34, 139, 78)  !important;
}

@media (max-width: 992px) {
  .col-md-6, .col-6 {
    flex: 0 0 50%; 
    max-width: 50%; 
  }
}

@media (max-width: 768px) {
  .col-lg-3, .col-md-6, .col-6 {
    flex: 0 0 100%; 
    max-width: 100%; 
  }
}
#carrito-sidebar {
  position: fixed;
  top: 68px;
  right: -400px;
  width: 300px;
  height: 70%;
  background-color: #fcfcfc;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
  transition: right 0.3s;
  padding: 20px;
  overflow-y: auto;
  z-index: 9999;
  border-radius: 16px;
}

#carrito-sidebar.show {
  right: 0;
}

#carrito-items {
  margin-bottom: 20px;
}

.carrito-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  #carrito-sidebar {
    width: 80%; 
    right: -80%; 
  }

  #carrito-sidebar.show {
    right: 0; 
  }

  .carrito-header {
    flex-direction: column; 
    align-items: flex-start; 
  }

  .close-btn {
    align-self: flex-end; 
  }
}
.card {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

}